* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-block: 20px;
  overflow: hidden;
  height: 100vh;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: rgba(224, 224, 224, 0.66);
}
*::-webkit-scrollbar-thumb {
  background-color: #0B76EF;
  border-radius: 20px;
  border: 2px solid #fff;
}
