* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding-block: 20px;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(224 224 224 / 66%);
}

*::-webkit-scrollbar-thumb {
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #0B76EF;
}
