.wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}

.main {
  height: 100%;
}

.title {
  margin-bottom: 20px;
  color: gray;
  text-align: center;
}
