.toDoItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
}

.label {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 40px;
  transition: opacity 0.1s ease-in-out;
  color: black;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px;
    border: 2px solid #808080;
    border-radius: 50%;
    opacity: 1;
    background-color: #fff;
    cursor: pointer;
  }

  &:has(.checkbox:checked)::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
  }

  &:has(.checkbox:focus-visible)::before {
    border-color: white;
    outline: 2px solid #0b76ef;
  }

  &:hover {
    opacity: 0.7;
  }
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.labelText {
  flex-grow: 1;
}

.checkbox:checked + .labelText {
  opacity: 0.6;
  text-decoration: line-through;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  transition: all 0.1s ease-in-out;
  border: none;
  border-radius: 50%;
  background: none;
  color: #808080;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid #0b76ef;
  }

  &:hover {
    transform: scale(0.95);
  }
}

.sortableContainer {
  display: flex;
}

.dndTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  transition: all 0.1s ease-in-out;
  border: none;
  background: none;
  color: #808080;
  cursor: pointer;
}

.dndHandle {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2px;
  background: #808080;
}

.dndHandle::before,
.dndHandle::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #808080;
}

.dndHandle::before {
  content: "";
  top: -5px;
}

.dndHandle::after {
  content: "";
  bottom: -5px;
}
